[user]
	name = kunst
	email = 63276819+cmb-sy@users.noreply.github.com
[include]
	path = ${HOME}/gitconfig.local
[alias]
	a = add
	aa = add --all
    br = branch
	brm = branch -m 
    co = checkout
    com = commit
	di = diff
	ds = diff --staged
	fe = fetch
	g = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	ga = log --graph --decorate --oneline --all
	gg = log --all --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	l = log
	ld = git log --diff-filter=D --summary
	lo = log --oneline
	lp = log -p
	ls = log --stat
	pl = pull
	ps = push
	s = status
	sh = show
	st = stash
	cp = cherry-pick
	sw = "!f () { git switch $(git branch $1 | grep -v 'HEAD' | fzf --reverse | sed 's@remotes/origin/@@' | cut -c 3-); }; f"
	del = "!f () { git branch -D $(git branch $1 | grep -v 'HEAD' | fzf --reverse | sed 's@remotes/origin/@@' | cut -c 3-); }; f"
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
    	unstage = !git add --all && git reset HEAD --hard
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = simple
[rerere]
	enabled = true
[github]
	user = cmb-sy
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

